    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
			<strong class="am-text-primary am-text-lg">慢病研究</strong> /<small><a href="#/view_r">待发布</a>&nbsp;>>&nbsp;编辑文章</small>
      </div>
    </div>
    <hr>

    <div class="am-tabs am-margin" data-am-tabs>
      <ul class="am-tabs-nav am-nav am-nav-tabs">
		
      </ul>

      <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
		<div class="am-g am-margin-top">
         
		   <form class="am-form" id="articleForm"  action="">
           
			<div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                	新闻标题
              </div>
              <div class="am-u-sm-8 am-u-md-4">
				
                <input type="text" class="am-input-sm" ng-model="essay.news_title" name="title"/>
              </div>
              <div class="am-hide-sm-only am-u-md-6"></div>
            </div>

            <div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                	新闻来源
              </div>
              <div class="am-u-sm-8 am-u-md-4">   
				 <input type="text" class="am-input-sm" ng-model="essay.news_source"  name="source"/>
              </div>
              <div class="am-hide-sm-only  am-u-md-6"></div>
            </div> 
			
			<div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                	发稿日期
              </div>
              <div class="am-u-sm-8 am-u-md-4">   
				 <input type="text" class="am-input-sm"  ng-model="essay.news_date" name="date"/>
              </div>
              <div class="am-hide-sm-only  am-u-md-6"></div>
            </div> 

			<div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                	新闻类别
              </div>
              <div class="am-u-sm-8 am-u-md-4">   
				<div class="am-form-group am-form-group-sm">
					<select class="am-form-field"  ng-model="essay.news_sort" ng-options=" x for x in sorts2">
						<option selected="selected" class="" value="">请选择一个分类</option>
					</select>
					<span class="am-form-caret"></span>
				</div>
              </div>
              <div class="am-hide-sm-only  am-u-md-6"></div>
            </div> 
            

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-12 am-u-md-2 am-text-right admin-form-text">
               	    新闻内容
              </div>
              <div class="am-u-sm-12 am-u-md-10">
              	<textarea  id="editor3"style="width:600px;height:600px;" placeholder="请使用富文本编辑插件" name="content" rows="80"></textarea>
              </div>
            </div>
			<div class="am-margin">
					<input  type="button"  ng-click="sendNewsUpdated()" class="am-btn am-btn-primary am-btn-default" value = "发布新闻">
			</div>
			
          </form>
				
		</div>
		
		
				
			  
           
		</div>


      </div>
    </div>

	<script src="assets/js/amazeui.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.js"> </script>
	<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
	<script type="text/javascript">
	//实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
   	var ue3 = UE.getEditor('editor3');
	ue3.ready(function() {
		ue3.setContent(html_temp_r);
		
	});
	
	
	
    function isFocus(e){
        alert(UE.getEditor('editor3').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e){
        UE.getEditor('editor3').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor3').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor3');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor3').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor3').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor3').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor3').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor3').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor3').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor3').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor3').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor3').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor3').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor3').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData () {
        alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
    }

    function clearLocalData () {
        UE.getEditor('editor').execCommand( "clearlocaldata" );
        alert("已清空草稿箱")
    }
	
	
</script>
	
	