    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">专家信息</strong> /
        <small>已发布</small>
      </div>
    </div>

    <hr>

            	<div class="am-g">
					<div class="am-u-sm-12 am-u-md-6">
					  <div class="am-btn-toolbar">
						<div class="am-btn-group am-btn-group-xs">
						  <button type="button" ng-click="go('#/add_e')" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
						  <button type="button" ng-click="refresh()" class="am-btn am-btn-default"><span class="am-icon-refresh"></span> 刷新</button>
						</div>
					  </div>
					</div>
					<div class="am-u-sm-12 am-u-md-2">
					  <div class="am-form-group am-group-sm">
						<select class="am-form-field" ng-model="order">
						  <option value="">排序方式</option>
						  <option value="''">添加时间</option>
						  <option value="name">姓名</option>
						  <option value="title">职称</option>
						  <option value="major">专业</option>
						</select>
					  </div>
					</div>
					<div class="am-u-sm-12 am-u-md-3">
					  <div class="am-input-group am-input-group-sm">
						<input type="text" ng-model="keywords" class="am-form-field">
					  <span class="am-input-group-btn">
						<button class="am-btn am-btn-default" type="button">搜索</button>
					  </span>
					  </div>
					</div>
				</div>
					
				
				<div class="am-g">
					<div class="am-u-sm-12" >
         
						<table class="am-table am-table-striped am-table-hover table-main">
						  <thead>
						  <tr style="font-size:1.2rem">
							<th class="table-check"><input type="checkbox" /></th><th class="table-id">ID</th><th class="table-title">标题</th><th class="table-type">类别</th><th class="table-author am-hide-sm-only">来源</th><th class="table-date am-hide-sm-only">新闻日期</th><th class="table-set">操作</th><th class="table-set">在线/撤回</th>
						  </tr>
						  </thead>
						  <tbody>
						  <tr style="font-size:1.2rem" ng-repeat="x in expList | filter:keywords | orderBy:order:true">
							<td><input type="checkbox" /></td>
							<td>{{ $index + 1 }}</td>
							<td><a href="#/news_get/{{x.id}}">{{x.name}}</a></td>
							<td>{{x.major}}</td>
							<td>{{x.title}}</td>
							<td>{{x.workplace}}</td>
							<td>
							  <div class="am-btn-toolbar">
								<div class="am-btn-group am-btn-group-xs">
								  <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="go('#/news_update/'+x.id+'/')"><span class="am-icon-pencil-square-o"></span> 修改</button>
								  <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"   ng-click="go('#/news_get/'+x.id+'/')"><span class="am-icon-eye"></span> 查看</button>
								  <button class="am-btn am-btn-default am-btn-xs am-text-danger" ng-click="delete(x.id)"><span class="am-icon-trash-o"></span> 删除</button>
								</div>
							  </div>
							</td>
							<td>
								<div ng-if="x.status== 'on' " class="am-btn-group am-btn-group-xs doc-js-btn-1" data-am-button>
								  <label class="am-btn am-btn-default">
									<input type="radio" name="options"  checked> on
								  </label>
								  <label class="am-btn am-btn-default" ng-click="changeStatus(x.status,x.id)">
									<input type="radio" name="options"  >off
								  </label>
								</div>
								<div ng-if="x.status== 'off' " class="am-btn-group am-btn-group-xs doc-js-btn-1" data-am-button>
								  <label class="am-btn am-btn-default"  ng-click="changeStatus(x.status,x.id)">
									<input type="radio" name="options2"> on
								  </label>
								  <label class="am-btn am-btn-default">
									<input type="radio" name="options2"  checked>off
								  </label>
								</div>
							</td>
						  </tr>
							
						  </tbody>
						</table>
						<div class="am-cf">
						  共 {{expNum}}条记录
						  <div class="am-fr">
							<ul class="am-pagination">
							  <li class="am-disabled"><a href="">«</a></li>
							  <li class="am-active"><a href="">1</a></li>
							   <li><a href="">»</a></li>
							</ul>
						  </div>
						</div>             
					</div>
				</div>	


<!-- <script src="assets/js/jquery.min.js"></script> -->
<script src="assets/js/amazeui.min.js"></script>
