<!DOCTYPE html>
<html>

<!--网页页头-->
<%- include header %>
<!--end-->

<!--网页主体-->
<div id="main">
 <div class="container beij">
  <div class="list_left clearhid">
   <div class="content">
	 <div id="jquery-accordion-menu" class="jquery-accordion-menu blue">
		<div class="jquery-accordion-menu-top" id="search">
		   <form class="filterform" action="#">
		      <div class="filtersearch">
			      <input class="filterinput" type="text">
			  </div>
		   </form>
		</div>
		<ul id="demo-list">	
		    <li class="active"><a href="#"><i class="fa fa-user"></i>所有专家</a></li>
			<li><a href="#"><i class="fa"></i>骨科</a></li>
			<li><a href="#"><i class="fa"></i>神经内科</a></li>
			<li><a href="#"><i class="fa"></i>呼吸科</a></li>	
			<li><a href="#"><i class="fa"></i>肾脏科</a></li>		   
		</ul>
				
	  </div>
   </div>
   
</div>

 <div class="content_right">
   <!--右侧切换内容-->
	   <div class="clearhid">
		      <div class="inhaul cont_inh">
			      <p><a href="#">首页</a><span> > </span><a href="#">专家资源</a></p>
			  </div>
		      <div class="new_b clearhid">
			     <div class="content_doc">
				   <div class="clearhid">
				      <div class="doc_img doc"><a href="doctor_info.html"><img src="image/doc_yl.jpg"></a><p>尹岭</p></div>
					  <div class="doc_img doc"><a href="doctor_info_lsb.html"><img src="image/doc_lsb.jpg"></a><p>卢世璧</p></div>
					  <div class="doc_img doc"><a href="#"><img src="image/doc_qgx.jpg"></a><p>邱贵兴</p></div>
					  <div class="doc_img doc"><a href="#"><img src="image/doc_cxm.jpg"></a><p>陈香美</p></div>
					  <div class="doc_img doc"><a href="#"><img src="image/doc_zns.jpg"></a><p>钟南山</p></div>
					  <div class="doc_img doc"><a href="#"><img src="image/doc_fdm.jpg"></a><p>樊代明</p></div>
					  <div class="doc_img doc"><a href="#"><img src="image/doc_grl.jpg"></a><p>高润霖</p></div>
					  <div class="doc_img doc"><a href="#"><img src="image/doc_zjc.jpg"></a><p>郑静晨</p></div>
					  <div class="doc_img doc"><a href="#"><img src="image/doc_cxh.jpg"></a><p>陈晓红</p></div>
					  <div class="doc_img doc"><a href="#"><img src="image/doc_wc.jpg"></a><p>王辰</p></div>
					  <div class="doc_img doc"><a href="#"><img src="image/doc_ljh.jpg"></a><p>郎景和</p></div>
					  <div class="doc_img doc"><a href="#"><img src="image/doc_hyl.jpg"></a><p>韩雅玲</p></div>
					  <div class="doc_img doc"><a href="#"><img src="image/doc_ckj.jpg"></a><p>陈可冀</p></div>
					</div>
				 </div>
		      </div>
	     </div>	 
	 <!--右侧内容end-->	
		 
   </div>
 </div>
</div>
<!--end-->


<!--网页页尾-->
<%- include footer %>
<!--end-->
<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="js/jquery-accordion-menu.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function () {
	jQuery("#jquery-accordion-menu").jqueryAccordionMenu();
	
});

$(function(){	
	//侧边导航切换
	$("#demo-list li").click(function(){
		$("#demo-list li.active").removeClass("active")
		$(this).addClass("active");
	})	

})	
</script>
</body>
</html>
