<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1" />  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>慢病研究</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<link href="css/cont.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--网页页头-->
<iframe src="header.html"  width="100%" height="212" frameborder="0" scrolling="no"></iframe>
<!--end-->

<!--网页主体-->
<div id="main">
    <div class="container beij">
	    <div class="content_wz">
		      <div class="inhaul cont_inh">
			      <p><a href="#">首页</a></p>
			  </div>
		      <div class="new_b clearhid">
                <div class="content_doc" style="text-align: center;">
				     <br/><br/>
					 <h3>待开发... ...</h3>
		             <img src="image/icon_jz.gif" width="180" height="130"/>
					 <br/><br/><br/>
				</div>  
		    </div>
	    </div>
    </div>
</div>
<!--end-->


<!--网页页尾-->
<iframe src="bottom.html"  width="100%" height="194" frameborder="0"></iframe>
<!--end-->

</body>
</html>
