<div id="header" class="header">
    <div class="linear">
	    <div class="top-p">
		   <p class="fs12 t1">
		      <a>加入收藏夹</a><span><a>设为首页</a></span>
		   </p>
		</div>
	</div>
	<div class="header-logo">
	    <div class="logo"><img src="image/logo_dymb.png"></div>
	</div>
	<div class="navbor">
	  <nav id="navbor" class="fs16" >   
	   <a class="active" href="/">首页</a>
	   <a href="/introduce" >简介</a>
	   <a href="new.html" target="_blank">新闻动态</a>
	   <a href="#">慢病研究</a>
	   <a href="#">研究基地</a>
	   <a href="#">专家资源</a>
	   <a href="#">人才培养</a>
	   <a href="#">学术交流</a>
	   <a href="#">企业文化</a>
	  <nav>
	</div>
</div>	