<!DOCTYPE html>
<html>

<!--网页页头-->
<%- include header %>
<!--end-->

<!--网页主体-->
<div id="main">
    <div class="container beij">
	    <div class="content_wz">
		      <div class="inhaul cont_inh">
			      <p><a href="#">首页</a><span> > </span><a href="#">人才培养</a></p>
			  </div>
		      <div class="new_b clearhid">
                <div class="content_doc">
		             <div class="grid clearhid">
					      <figure class="effect-sarah">
                              <img src="image/t_301.jpg" alt="心脑血管"/>
                              <figcaption>
                                  <h2>301医院<span>人才培养中心</span></h2>
                                  <p>中国人民解放军总医院组织重点培养以研究生教育为主的医学人才中心</p>
                                  <a href="/%E5%AD%A6%E6%9C%AF%E4%BA%A4%E6%B5%81">View more</a>
                              </figcaption>			
                          </figure>
						  <figure class="effect-sarah">
                              <img src="image/t_bjhx.jpg" alt="肿瘤"/>
                              <figcaption>
                                  <h2>协和<span>人才培养中心</span></h2>
                                  <p>北京协和医院是中华人民共和国卫生部指定的诊治疑难重症的技术指导中心之一</p>
                                  <a href="/%E5%AD%A6%E6%9C%AF%E4%BA%A4%E6%B5%81" >View more</a>
                              </figcaption>			
                          </figure>
						  <figure class="effect-sarah">
                              <img src="image/t_zky.jpg" alt="慢阻肺"/>
                              <figcaption>
                                  <h2>中国科学院<span>培养中心</span></h2>
                                  <p>为中国自然科学最高学术机构、与高技术综合研究发展中心</p>
                                  <a href="/%E5%AD%A6%E6%9C%AF%E4%BA%A4%E6%B5%81">View more</a>
                              </figcaption>			
                          </figure>
						  <figure class="effect-sarah">
                              <img src="image/t_bjxw.jpg" alt="医养结合"/>
                              <figcaption>
                                  <h2>宣武医院<span>人才培养中心</span></h2>
                                  <p>承担医疗、教育、科研、预防、保健和康复任务的重点培养人才中心</p>
                                  <a href="/%E5%AD%A6%E6%9C%AF%E4%BA%A4%E6%B5%81">View more</a>
                              </figcaption>			
                          </figure>						  
					 </div>			 
				</div>  
		    </div>
	    </div>
    </div>
</div>
<!--end-->


<!--网页页尾-->
<%- include footer %>
<!--end-->
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/tabulous.js"></script>
<script type="text/javascript" src="js/js.js"></script>
</body>
</html>
