<!DOCTYPE html>
<html>

<!--网页页头-->
<%- include header %>	
<!--end-->

<!--网页主体-->
<div id="main">
     <div class="container">	 
	     <div class="content_new content_wz">
		      <div class="inhaul cont_inh">
			      <p><a href="#">首页</a><span> > </span><a href="#">新闻动态</a><span> > </span><a href="#">新闻详情</a></p>
			  </div>
		      <div class="new_b clearhid">
			      <div class="new_top"><h3 class="new_t fs18">抚余市工作调研</h3></div>
				  <div class="line_info"><p class="fs12">2016-03-25</p></div>
				  <div class="new_con fs14">
				     <p> &nbsp;&nbsp; 9月9日，我院田国良（原中国人民解放军总医院副院长）带领大医慢病研究院相关专家一行4人，在省卫生计生委副厅级巡视员曲日胜、疾病处处长孙武长，省疾控中心主任范明、慢病所所长朱颖俐，松原市卫计委副主任王新忠，松原市疾控中心主任孙英杰的陪同下在吉林省考察调研慢病工作。我院领导一行人并与市政府副市长满武、市卫计局副局长（兼疾控中心主任）刘信、人民医院院长姜延波、疾控中心副主任杨金财等领导同志进行了座谈交流。<br/><br/>

        &nbsp;&nbsp; 座谈会围绕我国慢性疾病预防控制工作发展进行了深入研讨。会上，满武副市长介绍了扶余市慢性病防治工作开展情况。满武副市长指出，扶余市委、市政府、市卫生计生委高度重视慢病防治工作，近年来始终坚持“政府主导、多部门行动、全社会参与”的综合机制和“预防为主，防治结合”的防控方针，积极构建覆盖城乡的慢性病防控体系，实施基本公共卫生服务慢病防治项目和重大疾病防控项目，开展了全民健康生活方式、慢性病综合示范区创建、居民死因监测、社会高血压、糖尿病慢性病综合干预等项目工作，取得了明显成效。满市长强调，扶余市现在开始着手建设全民健身中心、健康教育主题公园、健康教育展览馆等项目，为扶余市慢性病防治工作探索了有益经验。
<br/><br/>
       &nbsp;&nbsp;满武副市长对大医慢病研究院的建设表示支持，诚挚地希望在扶余市建立大医慢病研究基地。同时，我院研究院也希望，帮助扶余市不断完善慢病防控体系，不断提升扶余市慢性病防控能力，加强医防结合，为科学制定国家慢性病综合防控新策略和新模式提供科学依据。<br/><br/>
      &nbsp;&nbsp; 我院尹岭副院长和解放军总医院张铎教授对扶余市开展的全民健康生活方式知识竞赛活动、心血管病筛查干预项目和死因监测等慢病工作给予充分肯定。我院尹岭副院长表示，吉林省市慢病的高发省份，希望通过下一步的合作，找到好的干预方法，提升慢病防控水平。我院尹岭副院长还就大医慢病研究院工作设想进行了阐述，如居民健康卡、远程专家会诊等。双方就一些具体问题进行了深入的探讨和交流。<br/><br/>

      &nbsp;&nbsp; 随后，在满武副市长及刘信主任的陪同下，我院田国良一行人参观了扶余市疾控中心业务大楼、市人民医院、蔡家沟镇卫生院和蔡家沟里半号标准化村卫生室等地，并参观了扶余市卫生系统的硬件建设和发展给予了充分的肯定。<br/><br/><br/>
                     </p>
				  </div>
			  </div>
		 </div>
		 
	
		 <div class="panel-3" style="float: right">
			      <div class="panel-g g">
				        <div class="panel-title-g top-g"><div class="title-xn fs14"><span class="icon"></span>新闻热点</div></div>
                        <div class="annou-con">
				           <div class="menu fs14">
							       <span class="circle"></span>
							       <a class="pp" href="#">抚余市工作调研</a>
						   </div>
						   <div class="menu fs14">
							       <span class="circle"></span>
							       <a class="pp" href="#">抚余市工作调研</a>
						   </div>
						   <div class="menu fs14">
							       <span class="circle"></span>
							       <a class="pp" href="#">抚余市工作调研</a>
						   </div>
						   <div class="menu fs14">
							       <span class="circle"></span>
							       <a class="pp" href="#">抚余市工作调研</a>
						   </div>
						   <div class="menu fs14">
							       <span class="circle"></span>
							       <a class="pp" href="#">抚余市工作调研</a>
						   </div>
						   <div class="menu fs14">
							       <span class="circle"></span>
							       <a class="pp" href="#">抚余市工作调研</a>
						   </div>
						   
				       </div>	 
			     </div>
		     </div>

	 </div>
</div>
<!--end-->

<!--网页页尾-->
<%- include footer %>
<!--end-->
</body>
</html>
